@font-face{
    font-family: "CatFont";
    src: url("catFont/OrientalCatsLight-2OzB8.otf") format("opentype");
}
body{
	background: #FEF4DC;
	height: 100%;
	width: 100%;
	margin: 0;
}
.catime{
	font-size: 150px;
	font-family: 'CatFont';

	position: fixed;
	bottom: -30px;
	right: 30px;

}

#cat{
    width: 500px;
    position: absolute;
    bottom: 50px;
    left: 5%;
  
}

.about { 
    background-color: #FFD97D; 
    color: #2C0703; 
    text-align: justify;
    width: 600px; 
    height: 400px; 
    border: #B67900 solid 4px; 
    overflow-y: scroll; 
    padding: 15px; 
    box-sizing: border-box; 
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 20px;
}

.mycat { 
    width: 100%; 
    display: block; 
    margin: 30px auto; 
    border-radius: 40px; 
}

.back {
    display: block;
    margin-top: 20px;
    color: #333333;
    text-decoration: none;
    font-weight: bold;
}