@font-face{
    font-family: "CatFont";
    src: url("catFont/OrientalCatsLight-2OzB8.otf") format("opentype");
}
body{
	background: #FEF4DC;
	height: 100%;
	width: 100%;
	margin: 0;
}
.catime{
	font-size: 150px;
	font-family: 'CatFont';

	position: fixed;
	bottom: -30px;
	right: 30px;

}

#cat{
    width: 500px;
    position: absolute;
    bottom: 50;
    left: 5%;
  
}
